<!-- Main Sidebar Container -->
<aside th:fragment="aside" class="main-sidebar sidebar-info-primary elevation-4">
  <!-- Brand Logo -->
  <a th:href="@{/clientes}" class="brand-link">    
    <span class="brand-text font-weight-light">Biblioteca UFBA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Clientes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/cadastrar}" class="nav-link">
                <i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/}" class="nav-link">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-tie"></i>
            <p>
              ADM
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/administradores/cadastrar}" class="nav-link">
                <i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/administradores}" class="nav-link">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
              Livros
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/livros/cadastrar}" class="nav-link">
                <i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Cadastrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/livros}" class="nav-link">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-project-diagram"></i>
            <p>
              Empréstimos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{/emprestimos/cadastrar}" class="nav-link">
                <i class="nav-icon fas fa-edit nav-icon"></i>
                <p>Fazer um empréstimo</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/emprestimos}" class="nav-link">
                <i class="fas fa-table nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>